<head><%= @username %></head>



<p><% @catches.each do |fish,catches|  %></p>
    
    <h1><%=fish%></h1>
        <p>Största:</p>
        <p><%=catches.first['weight']%> kg</p>
        <p><%=catches.first['location']%></p>
        <p><%=catches.first['time']%></p>    


    
<%end%>

<%if session[:userid] != @id%>
        <form action="/comment" method="POST">
        <input type="text"name="comment" placeholder="Kommentera">
        <button type="submit">Skicka</button>
        
        </form>
    <%end%>